body {
    text-align: center;
    background:linear-gradient(to right ,red ,blue);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
}
/* result class */
.resultText{
    font-family: fantasy;
    font-size: xx-large;
    margin: 2px auto;
}
h3 {
    margin-top: 10px;
}
.result {
    background-color: white;
    font-size: xx-large;
}
/* players section */
#players {
    display: inline-flex;
    color: white;
}
.player1 ,.player2 {
    margin: 10px 100px;
}
img {
    width: 200px;
    height: 200px;
}
/* Go button */
.goBtn {
    background-color: brown;
    color: white;
    font-size: x-large;
    width: 120px;
    height: 70px;
    margin-top: 20px;
    border-radius: 20%;
}